.image-wrappere {
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 33px; /* Adjust spacing between items */
  }
  
  .image-item {
    flex: 0 0 calc(24% - 20px); /* Set each item to occupy 50% width minus spacing */
    text-align: center; /* Align content in the center */
  }
  
  .image-item img {
    width: 100%; /* Make sure images take up the full width of their container */
    height: auto; /* Maintain aspect ratio */
  }
  
  figcaption {
    margin-top: 10px; /* Adjust margin for space between image and caption */
  }
  
  .full-width-container3:hover {
    background-color: blue;
    filter: invert(100%);
    
    cursor: pointer;

  }

  .social-icons {
    display: flex; /* Display icons in a row */
    align-items: center; /* Align icons vertically centered */
    gap: 10px; /* Adjust spacing between icons */
  }
  
  /* Adjust size of the SVG icons */
  .social-icons svg {
    width: 18px; /* Set desired width */
 /* Set desired height */
  }