.image-wrappere {
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 33px; /* Adjust spacing between items */
  }
  
  .image-item {
    flex: 0 0 calc(24% - 20px); /* Set each item to occupy 50% width minus spacing */
    text-align: center; /* Align content in the center */
  }
  
  .image-item img {
    width: 100%; /* Make sure images take up the full width of their container */
    height: auto; /* Maintain aspect ratio */
  }
  
  figcaption {
    margin-top: 10px; /* Adjust margin for space between image and caption */
  }
  
  .full-width-container3:hover {
    background-color: blue;
    filter: invert(100%);
    
    cursor: pointer;

  }

  .social-icons {
    display: flex; /* Display icons in a row */
    align-items: center; /* Align icons vertically centered */
    gap: 10px; /* Adjust spacing between icons */
  }
  
  /* Adjust size of the SVG icons */
  .social-icons svg {
    width: 18px; /* Set desired width */
 /* Set desired height */
  }

/* Add/Update this to your styles.css or App.css file */
.load-more-container {
  border: 2px solid black; /* Add border */
  display: flex;
  background-color: black;
  color: white;
  padding: 20px;
  width: 95%; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container */
  transition: background-color 0.3s, color 0.3s; /* Add smooth transition */
}

.left-column {
  flex: 1;
  display: flex;
  align-items: center;
}
.left-column p {
  font-size: 22px; /* Adjust the font size as needed */
}

.right-column {
  display: flex;
  align-items: center;
}

.right-column svg {
  width: 60px; /* Adjust the size as needed */
  height: 60px; /* Adjust the size as needed */
  margin-left: 10px;
}

/* Hover effect */
.load-more-container:hover {
  background-color: white;
  color: black;
}

.load-more-container:hover svg {
  fill: black; /* Adjust the color as needed */
  filter: invert(1); /* Invert the colors on hover */
}

/* Add this to your CSS file */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1vh; /* Adjust as needed to center vertically */
}

.spinner-circle {
  width: 30px;
  height: 30px;
  border: 5px solid #000000; /* Change the border color as needed */
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}